@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; /* Skjuler scrollbaren i Firefox */
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  /*Colors*/
  --color-bg-visitor: #9c9ea8;
  --color-bg-kurator: #e0d2d4;
  --color-text-clr: #322d2e;
  --color-btn-textClr: #f6edef;
  --color-btn-bg: #322d2e;

  /*Fonte Size*/
  --text-h1: clamp(3.0518rem, 2.8114rem + 0.8361vw, 3.8147rem);
  --text-h2: clamp(2.4414rem, 2.2491rem + 0.6689vw, 3.0518rem);
  --text-h3: clamp(1.9531rem, 1.7993rem + 0.5351vw, 2.4414rem);
  --text-h4: clamp(1.5625rem, 1.4394rem + 0.4281vw, 1.9531rem);
  --text-h5: clamp(1.25rem, 1.1515rem + 0.3425vw, 1.5625rem);
  --text-h6: clamp(1rem, 0.9212rem + 0.274vw, 1.25rem);
  --text-body: clamp(0.8rem, 0.737rem + 0.2192vw, 1rem);

  /*Font-families*/
  --font-displayText: "Karla", sans-serif;
  --font-bodyText: "Mulish", sans-serif;

  /* Line Height */
  /* --lineHeight: clamp(1rem, 2.177vw + 0.388rem, 3rem); */
  --lineHeight-heading: 1.2;
  --lineheight-body: 1.3;
  /* Padding and Margins */
  --space-0_5rem: clamp(0.5rem, 0.4606rem + 0.137vw, 0.625rem);
  --space-1rem: clamp(1rem, 0.9212rem + 0.274vw, 1.25rem);
  --space-1_5rem: clamp(1.5rem, 1.3818rem + 0.411vw, 1.875rem);
  --space-2rem: clamp(2rem, 1.8425rem + 0.5479vw, 2.5rem);
  --space-3rem: clamp(3rem, 2.7637rem + 0.8219vw, 3.75rem);
  --space-4rem: clamp(4rem, 3.6849rem + 1.0959vw, 5rem);
  --space-6rem: clamp(6rem, 5.5274rem + 1.6438vw, 7.5rem);
}

body {
  font-family: var(--font-bodyText), var(--font-displayText), Arial, sans-serif;
  display: grid;
  grid-template-columns: minmax(2rem, 2fr) minmax(0, 1200px) minmax(2rem, 2fr);
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}
body > * {
  grid-column: 2;
}

header {
  grid-row: 1;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
}
.home-background-wrapper {
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 0;
}
main {
  grid-row: 2;
  padding-top: 1rem;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

@media only screen and (min-width: 768px) {
  main {
    grid-row: 2;
    padding-top: 1rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 2fr;
  }

  .home-background-wrapper {
    grid-column: 1 / -1;
    grid-row: 2;
    z-index: 0;
  }
}

.event-view-background {
  grid-column: 1 / -1;
  z-index: 0;
}

h1,
h2,
h3 {
  line-height: var(--lineHeight-heading);
  font-family: var(--font-displayText);
}

h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
p {
  font-size: var(--text-body);
  line-height: var(--lineheight-body);
}

header a:not(nav a) {
  font-size: var(--text-h3);
}

a {
  font-size: var(--text-body);
}
/*---break---*/
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/*---break---*/
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
/*---break---*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
