@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /*Colors*/
  --color-bg-visitor: #9c9ea8;
  --color-bg-kurator: #e0d2d4;
  --color-text-clr: #322d2e;
  --color-btn-textClr: #f6edef;
  --color-btn-bg: #322d2e;

  /*Fonte*/
  --text-h1: clamp(3.0518rem, 2.8114rem + 0.8361vw, 3.8147rem);
  --text-h2: clamp(2.4414rem, 2.2491rem + 0.6689vw, 3.0518rem);
  --text-h3: clamp(1.9531rem, 1.7993rem + 0.5351vw, 2.4414rem);
  --text-h4: clamp(1.5625rem, 1.4394rem + 0.4281vw, 1.9531rem);
  --text-h5: clamp(1.25rem, 1.1515rem + 0.3425vw, 1.5625rem);
  --text-h6: clamp(1rem, 0.9212rem + 0.274vw, 1.25rem);
  --text-body: clamp(0.8rem, 0.737rem + 0.2192vw, 1rem);
  /*Font-families*/
  --font-displayText: "Karla", sans-serif;
  --font-bodyText: "Mulish", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-btn-bg);
    --foreground: var(--color-btn-textClr);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bodyText), var(--font-displayText), Arial, sans-serif;

  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 1200px) minmax(1rem, 1fr);
  grid-template-rows: auto 1fr;
  min-height: 100svh;
}
body > * {
  grid-column: 2;
}
