@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /*Colors*/
  --color-bg-visitor: #9c9ea8;
  --color-bg-kurator: #e0d2d4;
  --color-text-clr: #322d2e;
  --color-btn-textClr: #f6edef;
  --color-btn-bg: #322d2e;

  /*Fonte Size*/
  --text-h1: clamp(3.0518rem, 2.8114rem + 0.8361vw, 3.8147rem);
  --text-h2: clamp(2.4414rem, 2.2491rem + 0.6689vw, 3.0518rem);
  --text-h3: clamp(1.9531rem, 1.7993rem + 0.5351vw, 2.4414rem);
  --text-h4: clamp(1.5625rem, 1.4394rem + 0.4281vw, 1.9531rem);
  --text-h5: clamp(1.25rem, 1.1515rem + 0.3425vw, 1.5625rem);
  --text-h6: clamp(1rem, 0.9212rem + 0.274vw, 1.25rem);
  --text-body: clamp(0.8rem, 0.737rem + 0.2192vw, 1rem);
  /*Font-families*/
  --font-displayText: "Karla", sans-serif;
  --font-bodyText: "Mulish", sans-serif;

  /* Line Height */
  /* --lineHeight: clamp(1rem, 2.177vw + 0.388rem, 3rem); */
  --lineHeight-heading: 1.5;
  --lineheight-body: 1.3;
  /* Padding and Margins */
  --space-0_5rem: clamp(0.5rem, 0.4606rem + 0.137vw, 0.625rem);
  --space-1rem: clamp(1rem, 0.9212rem + 0.274vw, 1.25rem);
  --space-1_5rem: clamp(1.5rem, 1.3818rem + 0.411vw, 1.875rem);
  --space-2rem: clamp(2rem, 1.8425rem + 0.5479vw, 2.5rem);
  --space-3rem: clamp(3rem, 2.7637rem + 0.8219vw, 3.75rem);
  --space-4rem: clamp(4rem, 3.6849rem + 1.0959vw, 5rem);
  --space-6rem: clamp(6rem, 5.5274rem + 1.6438vw, 7.5rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-btn-bg);
    --foreground: var(--color-btn-textClr);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bodyText), var(--font-displayText), Arial, sans-serif;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 1200px) minmax(1rem, 1fr);
  grid-template-rows: auto 1fr;
  min-height: 100svh;
}
body > * {
  grid-column: 2;
}

h1,
h2,
h3 {
  line-height: var(--lineHeight-heading);
  font-family: var(--font-displayText);
}

h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
p {
  font-size: var(--text-body);
  line-height: var(--lineheight-body);
}
a {
  font-size: var(--text-body);
  text-decoration: underline;
}
